* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lavender;
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: left;
  
}

.links {
  list-style: none;
  display: flex;
  margin-top: 15px;
  margin-left: 150px;
}

.nav li {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #002417;
  transition: color 0.3s ease-in-out;
  margin-left: 20px;
}

.nav a:hover,
.nav a.active {
  color: #31487A;
  font-weight: bold;
  text-decoration: underline;
}

/* Header */
header {
  display: flex;
  align-items: center;
}

#logo {
   top: 0px;
}

#logoSpan {
  color: #364775; 
  font-size: 25px; 
  text-align: left; 
  margin-top: 15px;
}


#vertext {
  position: absolute;
  transform: rotate(90deg);
  left: -100px;
  top: 330px;
  margin-right: 10px;
  font-weight: none;
  font-size: 16px;
  color: #002147;
  white-space: nowrap;
  z-index: 1;
}

/* Main Campaign Section */
.campaign {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.campaign-text {
  margin-left: 40px;
}

.small-heading {
  font-size: 48px;
  color: #333;
  margin-top: 80px;
  margin-bottom: 10px;
}

.barriers {
  font-weight: 800;
  font-size: 96px;
  margin-bottom: 15px;
  color: #1B2336;
  text-align: left; /* Or center, depending on your design */
  white-space: nowrap; /* Prevent wrapping */
}

.barriers .main-text {
  display: inline;
  font-size: 30px;
  white-space: nowrap; /* Keeps "Building Bridges" in one line */
}

.barriers span:not(.main-text) {
  display: block;
  font-size: 48px;
  color: #1B2336;
  font-weight: 600;
}

/* Countdown */
.countdown {
  display: flex;
  gap: 10px;
}

.countdown div {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.countdown span {
  font-size: 1.8rem;
  font-weight: bold;
}

.countdown p {
  font-size: 0.8rem;
  color: #777;
}

/* Image Section */
.campaign-image img {
  width: 480px;
  height: 650px;
}
