    * {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lavender;
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  text-align: center;
  margin-top: 20px;
}

.links {
  list-style: none;
  display: flex;
}

.nav li {
  margin-left: 50px;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #002417;
  transition: color 0.3s ease-in-out;
  margin-left: 50px;
}

.nav a:hover,
.nav a.active {
  color: #31487A;
  font-weight: bold;
  text-decoration: underline;
}

.vertext {
  position: absolute;
  transform: rotate(90deg);
  left: -70px;
  top: 160px;
  font-weight: none;
  font-size: 16px;
  color: #002147;
  white-space: nowrap;
  z-index: 1;
}

.art {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
}

.artbtn {
    display: flex; 
    padding: 2%;
}

.art button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px;
    font-size: 15px;
}

.art img {
    width: 190px;
    height: 190px;
}

.artxt{
    margin-left: 30px;
}